# For running locally (not in continuous integration) copy this file and insert your user and API key
# Then source this file from bash, don't run it as a script
# For example:
#	source setup-env.sh
#	./go/bin/runner ...
#
# In CI use the project settings to assign these environment variables

export BROWSERSTACK_USER=""
export BROWSERSTACK_API_KEY=""

# The path to the dist directory created by `make fe`
export FRONT_END_DIST="./fe/dist/"