@import 'ui.css';

.devpanel-component {
	display: grid;
	grid-template: auto / auto 1fr 1fr;
	gap: var(--outer-margin);
}

.devpanel-component > .section {
	border-left: solid 1px var(--light-base-color);
}

.devpanel-component > .section:first-child {
	border-left: none;
}

.devpanel-component > .section {
	padding: var(--outer-padding);
	margin-bottom: var(--outer-margin);
}

.devpanel-component > .section > .section-title {
	margin: 0 0 var(--outer-margin) 0;
	font-size: var(--font-size-3);
	font-weight: var(--font-weight-3);
}

.control-component {
}

.state-component {
}

.log-component {
	height: calc(100vh - var(--outer-margin));
	overflow: auto;
}
