<html><body>

<script>var urlHarvest = true;</script>
<script type="text/javascript">
    //Sanitiser function
    var uncode = function(s) {
            try {
                return decodeURIComponent(s);
            } catch (e) {
                return unescape(s);
            }
        },
        sanitiser = function(s) {
            return uncode(s).replace(/[^a-z0-9]/gi, "").toLowerCase();
        };

    var U1 = "";
    var U2 = "";
    var U3 = "";
    var U4 = "us";
    var ftRandom = Math.random() * 1000000;

    if (sanitiser(U1) === "product") {

        switch (sanitiser(U4)) {

            case "gb":

                document.write('<iframe style="position:absolute; visibility:hidden; width:1px; height:1px;" src="/__wel_absolute/servedby.flashtalking.com/container/10472;85945;8822;iframe/?spotName=UK_Product&U1=&U2=&U3=&U4=us&cachebuster=' + ftRandom + '"></iframe>');

                break;

            case "de":

                document.write('<iframe style="position:absolute; visibility:hidden; width:1px; height:1px;" src="/__wel_absolute/servedby.flashtalking.com/container/10472;85947;8823;iframe/?spotName=DE_Product&U1=&U2=&U3=&U4=us&cachebuster=' + ftRandom + '"></iframe>');

                break;

            case "es":

                document.write('<iframe style="position:absolute; visibility:hidden; width:1px; height:1px;" src="/__wel_absolute/servedby.flashtalking.com/container/10472;85973;8831;iframe/?spotName=ES_Product&U1=&U2=&U3=&U4=us&cachebuster=' + ftRandom + '"></iframe>');

                break;

            case "fr":

                document.write('<iframe style="position:absolute; visibility:hidden; width:1px; height:1px;" src="/__wel_absolute/servedby.flashtalking.com/container/10472;85974;8832;iframe/?spotName=FR_Product&U1=&U2=&U3=&U4=us&cachebuster=' + ftRandom + '"></iframe>');

                break;

            case "se":

                document.write('<iframe style="position:absolute; visibility:hidden; width:1px; height:1px;" src="/__wel_absolute/servedby.flashtalking.com/container/10472;94577;9806;iframe/?spotName=SE_Product&U1=&U2=&U3=&U4=us&cachebuster=' + ftRandom + '"></iframe>');

                break;

            case "it":

                document.write('<iframe style="position:absolute; visibility:hidden; width:1px; height:1px;" src="/__wel_absolute/servedby.flashtalking.com/container/10472;85976;8834;iframe/?spotName=IT_Product&U1=&U2=&U3=&U4=us&cachebuster=' + ftRandom + '"></iframe>');

                break;


            case "ca":

                document.write('<iframe style="position:absolute; visibility:hidden; width:1px; height:1px;" src="/__wel_absolute/servedby.flashtalking.com/container/10472;94890;9850;iframe/?spotName=CA_Product&U1=&U2=&U3=&U4=us&cachebuster=' + ftRandom + '"></iframe>');
                break;

            case "au":

                document.write('<iframe style="position:absolute; visibility:hidden; width:1px; height:1px;" src="/__wel_absolute/servedby.flashtalking.com/container/10472;94892;9851;iframe/?spotName=AU_Product&U1=&U2=&U3=&U4=us&cachebuster=' + ftRandom + '"></iframe>');
                break;

            case "mx":

                document.write('<iframe style="position:absolute; visibility:hidden; width:1px; height:1px;" src="/__wel_absolute/servedby.flashtalking.com/container/10472;94894;9852;iframe/?spotName=MX_Product&U1=&U2=&U3=&U4=us&cachebuster=' + ftRandom + '"></iframe>');
                break;

            case "pl":

                document.write('<iframe style="position:absolute; visibility:hidden; width:1px; height:1px;" src="/__wel_absolute/servedby.flashtalking.com/container/10472;94579;9807;iframe/?spotName=PL_Product&U1=&U2=&U3=&U4=us&cachebuster=' + ftRandom + '"></iframe>');

                break;
            case "dk":

                document.write('<iframe style="position:absolute; visibility:hidden; width:1px; height:1px;" src="/__wel_absolute/servedby.flashtalking.com/container/10472;94583;9809;iframe/?spotName=DK_Product&U1=&U2=&U3=&U4=us&cachebuster=' + ftRandom + '"></iframe>');

                break;


                /*

                                case "nl":

                               document.write('<iframe style="position:absolute; visibility:hidden; width:1px; height:1px;" src="/__wel_absolute/servedby.flashtalking.com/container/10472;85975;8833;iframe/?spotName=NL_Product&U1=&U2=&U3=&U4=us&cachebuster='+ftRandom+'"></iframe>'); 

                                    break;



                    case "hr":

                                document.write('<iframe style="position:absolute; visibility:hidden; width:1px; height:1px;" src="/__wel_absolute/servedby.flashtalking.com/container/10472;94549;9792;iframe/?spotName=HR_Product&U1=&U2=&U3=&U4=us&cachebuster='+ftRandom+'"></iframe>');

                                    break;

                    case "sk":

                                document.write('<iframe style="position:absolute; visibility:hidden; width:1px; height:1px;" src="/__wel_absolute/servedby.flashtalking.com/container/10472;94551;9793;iframe/?spotName=SK_Product&U1=&U2=&U3=&U4=us&cachebuster='+ftRandom+'"></iframe>'); 

                                    break;

                     case "bg":

                                document.write('<iframe style="position:absolute; visibility:hidden; width:1px; height:1px;" src="/__wel_absolute/servedby.flashtalking.com/container/10472;94553;9794;iframe/?spotName=BG_Product&U1=&U2=&U3=&U4=us&cachebuster='+ftRandom+'"></iframe>'); 

                                    break;

                    case "lu":

                                document.write('<iframe style="position:absolute; visibility:hidden; width:1px; height:1px;" src="/__wel_absolute/servedby.flashtalking.com/container/10472;94555;9795;iframe/?spotName=LU_Product&U1=&U2=&U3=&U4=us&cachebuster='+ftRandom+'"></iframe>'); 

                                    break;

                case "si":

                                document.write('<iframe style="position:absolute; visibility:hidden; width:1px; height:1px;" src="/__wel_absolute/servedby.flashtalking.com/container/10472;94557;9796;iframe/?spotName=SI_Product&U1=&U2=&U3=&U4=us&cachebuster='+ftRandom+'"></iframe>');  

                                    break;


                case "ro":

                                document.write('<iframe style="position:absolute; visibility:hidden; width:1px; height:1px;" src="/__wel_absolute/servedby.flashtalking.com/container/10472;94559;9797;iframe/?spotName=RO_Product&U1=&U2=&U3=&U4=us&cachebuster='+ftRandom+'"></iframe>'); 

                                    break;


                case "cz":

                                document.write('<iframe style="position:absolute; visibility:hidden; width:1px; height:1px;" src="/__wel_absolute/servedby.flashtalking.com/container/10472;94561;9798;iframe/?spotName=CZ_Product&U1=&U2=&U3=&U4=us&cachebuster='+ftRandom+'"></iframe>'); 

                                    break;


                case "fi":

                                document.write('<iframe style="position:absolute; visibility:hidden; width:1px; height:1px;" src="/__wel_absolute/servedby.flashtalking.com/container/10472;94563;9799;iframe/?spotName=FI_Product&U1=&U2=&U3=&U4=us&cachebuster='+ftRandom+'"></iframe>'); 

                                    break;


                case "pt":

                                document.write('<iframe style="position:absolute; visibility:hidden; width:1px; height:1px;" src="/__wel_absolute/servedby.flashtalking.com/container/10472;94565;9800;iframe/?spotName=PT_Product&U1=&U2=&U3=&U4=us&cachebuster='+ftRandom+'"></iframe>'); 

                                    break;


                case "ch":

                                document.write('<iframe style="position:absolute; visibility:hidden; width:1px; height:1px;" src="/__wel_absolute/servedby.flashtalking.com/container/10472;94567;9801;iframe/?spotName=CH_Product&U1=&U2=&U3=&U4=us&cachebuster='+ftRandom+'"></iframe>'); 

                                    break;


                case "no":

                                document.write('<iframe style="position:absolute; visibility:hidden; width:1px; height:1px;" src="/__wel_absolute/servedby.flashtalking.com/container/10472;94569;9802;iframe/?spotName=NO_Product&U1=&U2=&U3=&U4=us&cachebuster='+ftRandom+'"></iframe>');

                                    break;


                case "ru":

                                document.write('<iframe style="position:absolute; visibility:hidden; width:1px; height:1px;" src="/__wel_absolute/servedby.flashtalking.com/container/10472;94571;9803;iframe/?spotName=RU_Product&U1=&U2=&U3=&U4=us&cachebuster='+ftRandom+'"></iframe>');  

                                    break;


                case "ie":

                                document.write('<iframe style="position:absolute; visibility:hidden; width:1px; height:1px;" src="/__wel_absolute/servedby.flashtalking.com/container/10472;94573;9804;iframe/?spotName=IE_Product&U1=&U2=&U3=&U4=us&cachebuster='+ftRandom+'"></iframe>'); 

                                    break;


                case "at":

                                document.write('<iframe style="position:absolute; visibility:hidden; width:1px; height:1px;" src="/__wel_absolute/servedby.flashtalking.com/container/10472;94575;9805;iframe/?spotName=AT_Product&U1=&U2=&U3=&U4=us&cachebuster='+ftRandom+'"></iframe>'); 

                                    break;







                case "be":

                                document.write('<iframe style="position:absolute; visibility:hidden; width:1px; height:1px;" src="/__wel_absolute/servedby.flashtalking.com/container/10472;94581;9808;iframe/?spotName=BE_Product&U1=&U2=&U3=&U4=us&cachebuster='+ftRandom+'"></iframe>'); 

                                    break;





                case "tr":

                                document.write('<iframe style="position:absolute; visibility:hidden; width:1px; height:1px;" src="/__wel_absolute/servedby.flashtalking.com/container/10472;94585;9810;iframe/?spotName=TR_Product&U1=&U2=&U3=&U4=us&cachebuster='+ftRandom+'"></iframe>');

                                    break;


                case "hu":

                                document.write('<iframe style="position:absolute; visibility:hidden; width:1px; height:1px;" src="/__wel_absolute/servedby.flashtalking.com/container/10472;94587;9811;iframe/?spotName=HU_Product&U1=&U2=&U3=&U4=us&cachebuster='+ftRandom+'"></iframe>');  

                                    break;


                case "gr":

                                document.write('<iframe style="position:absolute; visibility:hidden; width:1px; height:1px;" src="/__wel_absolute/servedby.flashtalking.com/container/10472;94589;9812;iframe/?spotName=GR_Product&U1=&U2=&U3=&U4=us&cachebuster='+ftRandom+'"></iframe>'); 
                                    break;





                case "cl":

                                document.write('<iframe style="position:absolute; visibility:hidden; width:1px; height:1px;" src="/__wel_absolute/servedby.flashtalking.com/container/10472;94896;9853;iframe/?spotName=CL_Product&U1=&U2=&U3=&U4=us&cachebuster='+ftRandom+'"></iframe>'); 
                                    break;

                case "nz":

                                document.write('<iframe style="position:absolute; visibility:hidden; width:1px; height:1px;" src="/__wel_absolute/servedby.flashtalking.com/container/10472;94898;9854;iframe/?spotName=NZ_Product&U1=&U2=&U3=&U4=us&cachebuster='+ftRandom+'"></iframe>'); 
                                    break;

                case "za":

                                document.write('<iframe style="position:absolute; visibility:hidden; width:1px; height:1px;" src="/__wel_absolute/servedby.flashtalking.com/container/10472;94900;9855;iframe/?spotName=ZA_Product&U1=&U2=&U3=&U4=us&cachebuster='+ftRandom+'"></iframe>'); 
                                    break;

                case "ae":

                                document.write('<iframe style="position:absolute; visibility:hidden; width:1px; height:1px;" src="/__wel_absolute/servedby.flashtalking.com/container/10472;94902;9856;iframe/?spotName=AE_Product&U1=&U2=&U3=&U4=us&cachebuster='+ftRandom+'"></iframe>'); 
                                    break;

                case "il":

                                document.write('<iframe style="position:absolute; visibility:hidden; width:1px; height:1px;" src="/__wel_absolute/servedby.flashtalking.com/container/10472;94904;9857;iframe/?spotName=IL_Product&U1=&U2=&U3=&U4=us&cachebuster='+ftRandom+'"></iframe>'); 
                                    break;

                case "sa":
                                document.write('<iframe style="position:absolute; visibility:hidden; width:1px; height:1px;" src="/__wel_absolute/servedby.flashtalking.com/container/10472;94906;9858;iframe/?spotName=SA_Product&U1=&U2=&U3=&U4=us&cachebuster='+ftRandom+'"></iframe>'); 
                                    break;

                case "pr":

                                document.write('<iframe style="position:absolute; visibility:hidden; width:1px; height:1px;" src="/__wel_absolute/servedby.flashtalking.com/container/10472;94908;9859;iframe/?spotName=PR_Product&U1=&U2=&U3=&U4=us&cachebuster='+ftRandom+'"></iframe>'); 
                                    break;

                case "eg":

                                document.write('<iframe style="position:absolute; visibility:hidden; width:1px; height:1px;" src="/__wel_absolute/servedby.flashtalking.com/container/10472;94910;9860;iframe/?spotName=EG_Product&U1=&U2=&U3=&U4=us&cachebuster='+ftRandom+'"></iframe>'); 
                                    break;

                case "ma":

                                document.write('<iframe style="position:absolute; visibility:hidden; width:1px; height:1px;" src="/__wel_absolute/servedby.flashtalking.com/container/10472;94912;9861;iframe/?spotName=MA_Product&U1=&U2=&U3=&U4=us&cachebuster='+ftRandom+'"></iframe>'); 
                                    break;
                */
            default:
                break;
        }

    }


    if (sanitiser(U1) === "checkout") {

        switch (sanitiser(U4)) {

            case "gb":

                document.write('<iframe style="position:absolute; visibility:hidden; width:1px; height:1px;" src="/__wel_absolute/servedby.flashtalking.com/container/10472;94591;8822;iframe/?spotName=UK_Checkout&ftXRef=&ftXValue=&U1=&U2=&U3=&U4=us&cachebuster=' + ftRandom + '"></iframe>');

                break;

            case "de":

                document.write('<iframe style="position:absolute; visibility:hidden; width:1px; height:1px;" src="/__wel_absolute/servedby.flashtalking.com/container/10472;94592;8823;iframe/?spotName=DE_Checkout&ftXRef=&ftXValue=&U1=&U2=&U3=&U4=us&cachebuster=' + ftRandom + '"></iframe>');

                break;

            case "es":

                document.write('<iframe style="position:absolute; visibility:hidden; width:1px; height:1px;" src="/__wel_absolute/servedby.flashtalking.com/container/10472;94548;8831;iframe/?spotName=ES_Checkout&ftXRef=&ftXValue=&U1=&U2=&U3=&U4=us&cachebuster=' + ftRandom + '"></iframe>');

                break;

            case "fr":

                document.write('<iframe style="position:absolute; visibility:hidden; width:1px; height:1px;" src="/__wel_absolute/servedby.flashtalking.com/container/10472;94593;8832;iframe/?spotName=FR_Checkout&ftXRef=&ftXValue=&U1=&U2=&U3=&U4=us&cachebuster=' + ftRandom + '"></iframe>');

                break;


            case "it":

                document.write('<iframe style="position:absolute; visibility:hidden; width:1px; height:1px;" src="/__wel_absolute/servedby.flashtalking.com/container/10472;94595;8834;iframe/?spotName=IT_Checkout&ftXRef=&ftXValue=&U1=&U2=&U3=&U4=us&cachebuster=' + ftRandom + '"></iframe>');

                break;

            case "se":

                document.write('<iframe style="position:absolute; visibility:hidden; width:1px; height:1px;" src="/__wel_absolute/servedby.flashtalking.com/container/10472;94578;9806;iframe/?spotName=SE_Checkout&ftXRef=&ftXValue=&U1=&U2=&U3=&U4=us&cachebuster=' + ftRandom + '"></iframe>');

                break;


            case "au":

                document.write('<iframe style="position:absolute; visibility:hidden; width:1px; height:1px;" src="/__wel_absolute/servedby.flashtalking.com/container/10472;94893;9851;iframe/?spotName=AU_Checkout&ftXRef=&ftXValue=&U1=&U2=&U3=&U4=us&cachebuster=' + ftRandom + '"></iframe>');
                break;

            case "mx":

                document.write('<iframe style="position:absolute; visibility:hidden; width:1px; height:1px;" src="/__wel_absolute/servedby.flashtalking.com/container/10472;94895;9852;iframe/?spotName=MX_Checkout&ftXRef=&ftXValue=&U1=&U2=&U3=&U4=us&cachebuster=' + ftRandom + '"></iframe>');
                break;

            case "cl":

                document.write('<iframe style="position:absolute; visibility:hidden; width:1px; height:1px;" src="/__wel_absolute/servedby.flashtalking.com/container/10472;94897;9853;iframe/?spotName=CL_Checkout&ftXRef=&ftXValue=&U1=&U2=&U3=&U4=us&cachebuster=' + ftRandom + '"></iframe>');
                break;

            case "pl":

                document.write('<iframe style="position:absolute; visibility:hidden; width:1px; height:1px;" src="/__wel_absolute/servedby.flashtalking.com/container/10472;94580;9807;iframe/?spotName=PL_Checkout&ftXRef=&ftXValue=&U1=&U2=&U3=&U4=us&cachebuster=' + ftRandom + '"></iframe>');

                break;

            case "dk":

                document.write('<iframe style="position:absolute; visibility:hidden; width:1px; height:1px;" src="/__wel_absolute/servedby.flashtalking.com/container/10472;94584;9809;iframe/?spotName=DK_Checkout&ftXRef=&ftXValue=&U1=&U2=&U3=&U4=us&cachebuster=' + ftRandom + '"></iframe>');

                break;

                /*

                                case "nl":

                           document.write('<iframe style="position:absolute; visibility:hidden; width:1px; height:1px;" src="/__wel_absolute/servedby.flashtalking.com/container/10472;94594;8833;iframe/?spotName=NL_Checkout&ftXRef=&ftXValue=&U1=&U2=&U3=&U4=us&cachebuster='+ftRandom+'"></iframe>'); 

                                    break;




                    case "hr":

                               document.write('<iframe style="position:absolute; visibility:hidden; width:1px; height:1px;" src="/__wel_absolute/servedby.flashtalking.com/container/10472;94550;9792;iframe/?spotName=HR_Checkout&ftXRef=&ftXValue=&U1=&U2=&U3=&U4=us&cachebuster='+ftRandom+'"></iframe>'); 

                                    break;

                    case "sk":

                                document.write('<iframe style="position:absolute; visibility:hidden; width:1px; height:1px;" src="/__wel_absolute/servedby.flashtalking.com/container/10472;94552;9793;iframe/?spotName=SK_Checkout&ftXRef=&ftXValue=&U1=&U2=&U3=&U4=us&cachebuster='+ftRandom+'"></iframe>'); 
                                    break;

                     case "bg":

                                document.write('<iframe style="position:absolute; visibility:hidden; width:1px; height:1px;" src="/__wel_absolute/servedby.flashtalking.com/container/10472;94554;9794;iframe/?spotName=BG_Checkout&ftXRef=&ftXValue=&U1=&U2=&U3=&U4=us&cachebuster='+ftRandom+'"></iframe>'); 

                                    break;

                    case "lu":

                                document.write('<iframe style="position:absolute; visibility:hidden; width:1px; height:1px;" src="/__wel_absolute/servedby.flashtalking.com/container/10472;94556;9795;iframe/?spotName=LU_Checkout&ftXRef=&ftXValue=&U1=&U2=&U3=&U4=us&cachebuster='+ftRandom+'"></iframe>'); 

                                    break;

                case "si":

                                document.write('<iframe style="position:absolute; visibility:hidden; width:1px; height:1px;" src="/__wel_absolute/servedby.flashtalking.com/container/10472;94558;9796;iframe/?spotName=SI_Checkout&ftXRef=&ftXValue=&U1=&U2=&U3=&U4=us&cachebuster='+ftRandom+'"></iframe>'); 

                                    break;


                case "ro":

                                document.write('<iframe style="position:absolute; visibility:hidden; width:1px; height:1px;" src="/__wel_absolute/servedby.flashtalking.com/container/10472;94560;9797;iframe/?spotName=RO_Checkout&ftXRef=&ftXValue=&U1=&U2=&U3=&U4=us&cachebuster='+ftRandom+'"></iframe>'); 

                                    break;


                case "cz":

                                document.write('<iframe style="position:absolute; visibility:hidden; width:1px; height:1px;" src="/__wel_absolute/servedby.flashtalking.com/container/10472;94562;9798;iframe/?spotName=CZ_Checkout&ftXRef=&ftXValue=&U1=&U2=&U3=&U4=us&cachebuster='+ftRandom+'"></iframe>'); 

                                    break;


                case "fi":

                               document.write('<iframe style="position:absolute; visibility:hidden; width:1px; height:1px;" src="/__wel_absolute/servedby.flashtalking.com/container/10472;94564;9799;iframe/?spotName=FI__Checkout&ftXRef=&ftXValue=&U1=&U2=&U3=&U4=us&cachebuster='+ftRandom+'"></iframe>');  

                                    break;


                case "pt":

                                document.write('<iframe style="position:absolute; visibility:hidden; width:1px; height:1px;" src="/__wel_absolute/servedby.flashtalking.com/container/10472;94566;9800;iframe/?spotName=PT_Checkout&ftXRef=&ftXValue=&U1=&U2=&U3=&U4=us&cachebuster='+ftRandom+'"></iframe>'); 

                                    break;


                case "ch":

                                document.write('<iframe style="position:absolute; visibility:hidden; width:1px; height:1px;" src="/__wel_absolute/servedby.flashtalking.com/container/10472;94568;9801;iframe/?spotName=CH_Checkout&ftXRef=&ftXValue=&U1=&U2=&U3=&U4=us&cachebuster='+ftRandom+'"></iframe>'); 

                                    break;


                case "no":

                             document.write('<iframe style="position:absolute; visibility:hidden; width:1px; height:1px;" src="/__wel_absolute/servedby.flashtalking.com/container/10472;94570;9802;iframe/?spotName=NO_Checkout&ftXRef=&ftXValue=&U1=&U2=&U3=&U4=us&cachebuster='+ftRandom+'"></iframe>'); 

                                    break;


                case "ru":

                                document.write('<iframe style="position:absolute; visibility:hidden; width:1px; height:1px;" src="/__wel_absolute/servedby.flashtalking.com/container/10472;94572;9803;iframe/?spotName=RU_Checkout&ftXRef=&ftXValue=&U1=&U2=&U3=&U4=us&cachebuster='+ftRandom+'"></iframe>');   

                                    break;


                case "ie":

                              document.write('<iframe style="position:absolute; visibility:hidden; width:1px; height:1px;" src="/__wel_absolute/servedby.flashtalking.com/container/10472;94574;9804;iframe/?spotName=IE_Checkout&ftXRef=&ftXValue=&U1=&U2=&U3=&U4=us&cachebuster='+ftRandom+'"></iframe>'); 

                                    break;


                case "at":

                                document.write('<iframe style="position:absolute; visibility:hidden; width:1px; height:1px;" src="/__wel_absolute/servedby.flashtalking.com/container/10472;94576;9805;iframe/?spotName=AT_Checkout&ftXRef=&ftXValue=&U1=&U2=&U3=&U4=us&cachebuster='+ftRandom+'"></iframe>'); 

                                    break;








                case "be":

                                document.write('<iframe style="position:absolute; visibility:hidden; width:1px; height:1px;" src="/__wel_absolute/servedby.flashtalking.com/container/10472;94582;9808;iframe/?spotName=BE_Checkout&ftXRef=&ftXValue=&U1=&U2=&U3=&U4=us&cachebuster='+ftRandom+'"></iframe>');

                                    break;





                case "tr":

                                document.write('<iframe style="position:absolute; visibility:hidden; width:1px; height:1px;" src="/__wel_absolute/servedby.flashtalking.com/container/10472;94586;9810;iframe/?spotName=TR_Checkout&ftXRef=&ftXValue=&U1=&U2=&U3=&U4=us&cachebuster='+ftRandom+'"></iframe>'); 

                                    break;


                case "hu":

                                document.write('<iframe style="position:absolute; visibility:hidden; width:1px; height:1px;" src="/__wel_absolute/servedby.flashtalking.com/container/10472;94588;9811;iframe/?spotName=HU_Checkout&ftXRef=&ftXValue=&U1=&U2=&U3=&U4=us&cachebuster='+ftRandom+'"></iframe>');  

                                    break;


                case "gr":

                                document.write('<iframe style="position:absolute; visibility:hidden; width:1px; height:1px;" src="/__wel_absolute/servedby.flashtalking.com/container/10472;94590;9812;iframe/?spotName=GR_Checkout&ftXRef=&ftXValue=&U1=&U2=&U3=&U4=us&cachebuster='+ftRandom+'"></iframe>'); 
                                    break;


                case "ca":

                                document.write('<iframe style="position:absolute; visibility:hidden; width:1px; height:1px;" src="/__wel_absolute/servedby.flashtalking.com/container/10472;94891;9850;iframe/?spotName=CA_Checkout&ftXRef=&ftXValue=&U1=&U2=&U3=&U4=us&cachebuster='+ftRandom+'"></iframe>'); 
                                    break;


                case "nz":

                                document.write('<iframe style="position:absolute; visibility:hidden; width:1px; height:1px;" src="/__wel_absolute/servedby.flashtalking.com/container/10472;94899;9854;iframe/?spotName=NZ_Checkout&ftXRef=&ftXValue=&U1=&U2=&U3=&U4=us&cachebuster='+ftRandom+'"></iframe>'); 
                                    break;

                case "za":

                                document.write('<iframe style="position:absolute; visibility:hidden; width:1px; height:1px;" src="/__wel_absolute/servedby.flashtalking.com/container/10472;94901;9855;iframe/?spotName=ZA_Checkout&ftXRef=&ftXValue=&U1=&U2=&U3=&U4=us&cachebuster='+ftRandom+'"></iframe>'); 
                                    break;

                case "ae":

                                document.write('<iframe style="position:absolute; visibility:hidden; width:1px; height:1px;" src="/__wel_absolute/servedby.flashtalking.com/container/10472;94903;9856;iframe/?spotName=AE_Checkout&ftXRef=&ftXValue=&U1=&U2=&U3=&U4=us&cachebuster='+ftRandom+'"></iframe>'); 
                                    break;

                case "il":

                                document.write('<iframe style="position:absolute; visibility:hidden; width:1px; height:1px;" src="/__wel_absolute/servedby.flashtalking.com/container/10472;94905;9857;iframe/?spotName=IL_Checkout&ftXRef=&ftXValue=&U1=&U2=&U3=&U4=us&cachebuster='+ftRandom+'"></iframe>'); 
                                    break;


                case "sa":

                                document.write('<iframe style="position:absolute; visibility:hidden; width:1px; height:1px;" src="/__wel_absolute/servedby.flashtalking.com/container/10472;94907;9858;iframe/?spotName=SA_Checkout&ftXRef=&ftXValue=&U1=&U2=&U3=&U4=us&cachebuster='+ftRandom+'"></iframe>'); 
                                    break;

                case "pr":

                                document.write('<iframe style="position:absolute; visibility:hidden; width:1px; height:1px;" src="/__wel_absolute/servedby.flashtalking.com/container/10472;94909;9859;iframe/?spotName=PR_Checkout&ftXRef=&ftXValue=&U1=&U2=&U3=&U4=us&cachebuster='+ftRandom+'"></iframe>'); 
                                    break;

                case "eg":

                                document.write('<iframe style="position:absolute; visibility:hidden; width:1px; height:1px;" src="/__wel_absolute/servedby.flashtalking.com/container/10472;94911;9860;iframe/?spotName=EG_Checkout&ftXRef=&ftXValue=&U1=&U2=&U3=&U4=us&cachebuster='+ftRandom+'"></iframe>'); 
                                    break;

                case "ma":

                                document.write('<iframe style="position:absolute; visibility:hidden; width:1px; height:1px;" src="/__wel_absolute/servedby.flashtalking.com/container/10472;94913;9861;iframe/?spotName=MA_Checkout&ftXRef=&ftXValue=&U1=&U2=&U3=&U4=us&cachebuster='+ftRandom+'"></iframe>'); 
                                    break;

                */

            default:
                break;
        }
    }
</script><script>
//Pixel Manager | Export Date: Apr. 30, 2019 @ 1:16pm UTC
var ft_hSeg = {
    ref_url:document.referrer,
    ref_protocol:'',
    ref_domain:'',
    ref_path:'',
    ref_queryStr:'',
    spot_gID:'7935',
    seg_set_QStr:false,
    seg_uri:'',
    seg_dom:'',
    ad_domains:['servedby.flashtalking.com','servedby.flashtalking.com'],
    parseUri:function(str){
            var o = this,
              splitObj = /^(http[s]?):\/\/?([^\/\s]+)\/([\w\.]+[^#?;\s]+)(.*)?/.exec(str);
              if(splitObj===null) return false;
            var retObj = {
                  protocol:splitObj[1],
                  domain:splitObj[2],
                  path:splitObj[3],
                  queryString:splitObj[4]
                  }
            return retObj;
        },
    set_seg:function(run){
                            if(run == false) { return false };
                var split_obj = this.parseUri(this.check_ref(this.ref_url)),
                  seg_path = '/segment/2/read/a;;pixel/?s='+this.spot_gID+'&d=';
                if(split_obj===false) return false;
                this.ref_protocol = split_obj.protocol;
                this.ref_domain = split_obj.domain;
                this.ref_queryStr = split_obj.queryString;
                this.ref_path = split_obj.path.replace(new RegExp(decodeURIComponent('%5E/%7C/%24/g')), '');
                this.seg_dom = this.ad_domains[(this.ref_protocol == 'http')? 0 : 1];
                this.seg_uri = this.ref_protocol+'://'+this.seg_dom+seg_path+this.ref_domain+'&r='+this.ref_path+(this.seg_set_QStr?'&q='+decodeURIComponent(this.ref_queryStr):'');
                new Image().src=this.seg_uri;
                return true;
            },
    check_ref:function(url){
            var st=window.location.search.indexOf('ft_referrer=')+12,
                en=(window.location.search.substring(st)).indexOf('&ns=');
                if(en === -1) en = 9e9;
                cont_ref = decodeURIComponent(window.location.search.substring(st,en+st));
            if (url === ''|| this.ref_url !== cont_ref){
                return  cont_ref;
            }else{
                return this.ref_url;
            }
    }
  };
  ft_hSeg.set_seg(urlHarvest);
</script></body></html>