<html>
	<head>
		<!-- load the test probing framework -->
		<script src='/__wel_probes.js'></script>
		<script src='/__wel/prober/prober.js'></script>

		<!-- load the embedded script whose characteristics are tested -->
		<script async='/__wel_embed.js'></script>

		<!-- Use a value set in formula.json's "context-data" structure -->
		<title>Hello World</title>
		<link rel="stylesheet" href="/static/index.css" type='text/css'>
	</head>

	<body>
		<h1>Hello World</h1>
		<script src='/static/index.js'></script>
	</body>
</html>