<html>
	<head>
		<!-- load the test probing framework -->
		<script src='/__wel_probes.js'></script>
		<script src='/__wel/prober/prober.js'></script>

		<!-- load the embedded script whose characteristics are tested -->
		<script async='/__wel_embed.js'></script>

		<!-- Use a value set in formula.json's "context-data" structure -->
		<title>{{ .title }}</title>
		<link rel="stylesheet" href="/static/index.css" type='text/css'>
	</head>

	<body>
		<h1>{{ .title }}</h1>

		<!-- Read a template parameter with a non-go-friendly name (it has a dash) -->
		<section id="complex-name">{{index . "complex-name" }}</section>

		<!-- Read a global template parameter -->
		<section id="example-global">{{index . "example-global" }}</section>

		<div id='random-words'>loading...</div>

		<img width='200' src='/foo/butterfly.png' />

		<img width='200' src='/static/ABC-222' />

		<script src='/static/index.js'></script>
	</body>
</html>